@model IEnumerable<HRMS.Core.ReqRespVm.Response.Leads.CustomerCallingDetailVM>

<div class="panel-body table-responsive">
    <table class="table table-striped" id="data-tables1">
        <thead>
            <tr>
                <th>Lead Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Description Project</th>
                <th>Assign Date</th>
                <th>Phone Date Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LeadName </td>
                    <td>@item.Phone </td>
                    <td>@item.Email</td>
                    <td>@item.Description_Project</td>
                    <td>@string.Format("{0:dd/MM/yyyy}", item.AssignDate)</td>
                    <td>@string.Format("{0:dd/MM/yyyy hh:mm tt}", item.PhoneDateTime)</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        "use strict";
        $('#data-tables1').dataTable();
    });
</script>